<header class="header">
  <h1 class="header__title">Tech Blogger</h1>
  <nav>

    <button id="homepage" class="homepage-button">Homepage</button>
    <button id="new-post" class="new-post-button">New Post</button>

    <div class="modal" id="newPostModal">
      <div class="modal-content">
        <span id="close-button" class="close-button">&times;</span>
        <h2>New Post</h2>
        <form id="newPostForm">
          <div class="form-group">
            <label for="titleInput" style="color:black">Title:</label>
            <input class="form-input" type="text" id="titleInput" />
          </div>
          <div class="form-group">
            <label for="contentInput" style="color:black">Content:</label>
            <textarea class="form-input" id="contentInput" rows="20">
            </textarea>
          </div>
          <div class="form-group">
            <button
              class="btn btn-primary submit-button"
              id="submitPost"
            >Submit</button>

          </div>
        </form>
      </div>
    </div>
    <button id="profile" class="profile-button">Profile</button>

    <button id="logout" class="logout-button">Logout</button>
  </nav>
</header>

<div class="postDiv">
  <h1 class="page-title"> Posts: </h1>

  {{#each allPosts}}

    <div id="posts" class="post">
      <section class="post-box">
        <h2> @{{user.username}} posted</h2>
        <h1>{{title}}</h1>
        <p> {{content}}</p>
        <button class="delBtn" data-post-id="{{id}}">delete</button>

        <div class="comments">
          <h2> Comments: </h2>
          {{#each dataValues.comments}}
            <div class="comment">
              <p> {{comment_text}} </p>
            </div>
          {{/each}}

          <form id="newCommentForm">
            <div class="form-group">
              <label for="commentInput" style="color:black">Comment:</label>
              <textarea class="form-input" id="commentInput" rows="5">
              </textarea>
            </div>
            <div class="form-group">
              <button
                class="btn btn-primary submit-comment-button"
                id="submitComment"
                data-post-id="{{id}}"
              >Submit Comment</button>
            </div>
          </form>
        </div>

      </section>
    </div>
  {{/each}}
</div>

<script src="/js/homepage.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>